* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Calibri";
}

body {
    background-color: rgb(34, 40, 49);
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(49, 54, 63);
    width: fit-content;
    margin-top: 30vh;
    padding: 3rem;
    gap: 2rem;
    border-radius: 2rem;
}

.username-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username-input label {
    color: rgb(118, 171, 174);
    font-weight: 600;
}

.username {
    width: 15rem;
    height: 2rem;
    color:rgb(238, 238, 238);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(34, 40, 49);
}

.username:focus {
    outline-width: 0
}

.login-form button {
    background-color: rgb(118, 171, 174);
    padding: .5rem 1rem;
    font-size: 20px;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(118, 171, 174);
}

.title {
    display: flex;
    background-color: rgb(118, 171, 174);
    justify-content: space-between;
    padding: 20px;
}

.title h2 {
    font-family: "Calibri";
    color: rgb(238, 238, 238);
    font-size: 30px;
}

.logout {
    background-color: rgb(34, 40, 49);
    color:rgb(238, 238, 238);
    padding: .5rem 1rem;
    border: 0;
    border-radius: 1rem;
    font-size: 15px;
    cursor: pointer;
}

.logout:hover{
    background-color: rgb(49, 54, 63);
    color: rgb(118, 171, 174);
}

.message-list {
    list-style: none;
    padding: 3rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    bottom: 4rem;
}

.message {
    display: flex;
    flex-direction: column;
    gap: .3rem
}

.sender {
    font-size: 17px;
    color: rgb(118, 171, 174);
    padding-left: .5rem;
}

.text {
    font-size: 22px;
    padding: .7rem  1rem;
    background-color: rgb(49, 54, 63);
    width: fit-content;
    color: rgb(238, 238, 238);
    border-radius: 1.5rem;
}

.message-bar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-self: flex-end;
}

.input {
    width: 90vw;
    height: 4rem;
    padding-left: 1.5rem;
    font-size: 22px;
    background-color:  rgb(49, 54, 63);
    border: 0;
}

.input:focus {
    outline-width: 0;
}

.send {
    background-color: rgb(118, 171, 174);
    width: 10vw;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}

.send:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(118, 171, 174);
}